<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ViaCinemaMovieServiceSoap" />
                <binding name="ViaCinemaPaymentServiceSoap" />
                <binding name="ViaCinemaProjectionServiceSoap" />
                <binding name="ViaCinemaUserServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51916/ViaCinemaMovieService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ViaCinemaMovieServiceSoap"
                contract="ViaCinemaMovieService.ViaCinemaMovieServiceSoap"
                name="ViaCinemaMovieServiceSoap" />
            <endpoint address="http://localhost:51916/ViaCinemaPaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ViaCinemaPaymentServiceSoap"
                contract="ViaCinemaPaymentService.ViaCinemaPaymentServiceSoap"
                name="ViaCinemaPaymentServiceSoap" />
            <endpoint address="http://localhost:51916/ViaCinemaProjectionService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ViaCinemaProjectionServiceSoap"
                contract="ViaCinemaProjectionService.ViaCinemaProjectionServiceSoap"
                name="ViaCinemaProjectionServiceSoap" />
            <endpoint address="http://localhost:51916/ViaCinemaUserService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ViaCinemaUserServiceSoap"
                contract="ViaCinemaUserService.ViaCinemaUserServiceSoap" 
                name="ViaCinemaUserServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>